.grid-center {
    display: grid;
    place-items: center;
}

.landing-main {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 4px;
}

.landing-item {
    width: 100%;
    margin: 0 5px;
}

.landing-item-body {
    display: grid;
    place-items: center;
    margin: 0 10px;
}

.landing-item img {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    height: 383px;
}

.landing-item-inner {
    text-align: center;
    width: 100%;
}

.landing-item-header {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
}

.landing-item-desc {
    margin-top: 10px;
    font-size: 20px;
}

.landlords {
    width: 100%;
}

.prop-managers {
    width: 100%;
}

@media only screen and (max-width: 767px) {
    .landing-main {
        display: flex;
        flex-direction: column;
    }

    .landing-item {
        width: 100%;
        margin: 5px 0px;
    }

    .landing-item img {
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }

    .landing-item-header {
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 5px;
    }

    .landing-item-desc {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .landing-item img {
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        height: 200px;
    }

    .icon-list {
        /* display: none; */
        font-size: 12px;
        margin-top: 10px;
    }
}